body{
	/* font-size: 14px !important; */
}

.navbar{
	margin-bottom: 0px !important;
}

table.breadcrumb{
	margin-bottom: 0px !important;
}

.panel{
	margin-bottom: 0px !important;
}

/* Forum */
.help-block{
	margin: 0 !important;
}
.form-group{
	margin-bottom: 0 !important;
}

.table > tbody > tr > th{
	padding: 2px !important;
}